
        :root {
            --primary-color: #66CDAA;
            --primary-hover-color: #5bbba0;
            --text-primary: #1f2937;
            --text-secondary: #6b7280;
            --background-color: #FFFFFF;
            --card-background: #FFFFFF;
            --border-color: #e5e7eb;
        }
        body {
            font-family: 'Lexend', sans-serif;
            background-color: var(--background-color);
        }

 

        
    


  .animated-bg {
    background: linear-gradient(-45deg, #50d3a7, #f6f8f7, #131f1b, #66CDAA);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
  }
  @keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  